# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.production
# Keep .env.test for E2E testing
# .env.test

# temp directory
.temp
.tmp

# Prisma
/node_modules/@prisma/client
/prisma/generated
/prisma/**/generated

# Test coverage
coverage
*.lcov
.nyc_output

# VSCode workspace
*.code-workspace
